@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(#242424, #111111);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: #343434;
  outline: none;
}
